*{padding: 0;
  margin: auto;
  box-sizing: border-box;
}


body {
  font-size:1em;
 
  background: #f7f7f7;
}

a:link, 
a:visited{
  color: green;
  text-decoration: none;

}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}



.logo {
	/* padding-top:100px;*/
   position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  

}

@keyframes TransitionIn{
  0%{ transform: scale(6, 6)  }
  25% { transform: scale(6,6)  }
  100% { transform: scale(.5,.5); transform: translate(0,0);}


}
#wlogo img{
 /* margin-left: 0;

  display: block;
  position: fixed;
  width: 20%;*/
  transform: scale(.4, .4);
  transform: translate(0,0);
  /*top: -30vh;
  left: 0;*/

 /* transition: transform 2s;*/
/*  padding: none;*/
  animation:TransitionIn 4s; 
   position:fixed;
   /* top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;*/
    /*display: block;*/
}

/*#BIO, #CALL {
  display: inline;*/
 /* padding-top: 100px;
  padding-left: 30px;*/
  /*padding-right: 85px;*/
/*  z-index: 7;
}
*/
#BIO {
  margin-left: 37vw;
  bottom: 3vh;
  position: absolute;


}

#CALL {
  margin-left: 53vw;
  bottom: 3vh;
  position: absolute;
}
.page {
  margin: auto;
  padding: none;
	color: green;
	font-size:30px;
	font-family: arial black, arial, sans-serif;
 /* text-align: center;*/

	/*padding: 30PX;*/
	/*z-index: 11;*/
  /*display:block;*/
  /*border-left:30vw;*/
 /* margin:auto;*/
/* border-top: 60vh;*/

  /*position:fixed;*/
/* text-align: center;*/
    z-index: 10;
    bottom: 0;
 
 
}



/*#img1, #img2 {
	width: 20vw;
	position: fixed;
	height: 100vh;

}*/

/*.hover-on-1 {
  position:fixed;
  top:-200vw;
  left: 0;
  z-index: -2;
  display:none;
  width: 100%;
 
}
.hover-on-2 {
  position:fixed;
 top: 0;
  left: 0;
  z-index: -2;
  display:none;
  width: 100vw;
 
}

.active {
    display:block;
}*/